.header-container-grey{
    width: 1920px;
    height: 80px;
    background-color:#4B565E;
  }
  
  .header-container-grey-main{
    width: 1320px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .header-logo{
    margin-right: 40px;
  }
  
  .header-nav-main{
    display: flex;
    width: 600px;
    justify-content: space-between;

  }

  .date{
    font-size: 16px;
    font-weight: 400;
    color: #F9FAFB;
  }
  
  .header-nav{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #F9FAFB;
  }
  
  .header-container-grey-main-left{
    display: flex;
    align-items: center;
  }
  
  .header-container-grey-main-right{
    display: flex;
    align-items: center;
  }
  
  .phone_namber{
    display: flex;
    align-items: center;
    margin-right: 40px;
  }
  
  .phone_namber a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
  }
  
  .header-icons{
    display: flex;
    align-items: center;
  }
  
  .icon-heart{
    margin-right: 40px;
  }
  
  .cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border: 1px solid #f0a830;
    border-radius: 50px;
    background-color: #444d56;
    color: #ffffff;
    transition: background-color 0.3s;
  }
 
  .cart-icon{
    margin-right: 10px;
  }
  
  .header-icon{
    margin-right: 12px;
  }
  
  .header-container-yellow{
    width: 1920px;
    height: 48px;
    background-color:#F0BA4E;
    display: flex;
    justify-content: space-between;
  }
  
  .header-container-yellow-main{
    width: 1320px;
    height: 48px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .header-container-yellow-left{
    display: flex;
    align-items: center;
  }
  
  .header2-nav{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: #3C3C3B;
  }  
    
  .header-container-yellow-right{
    display: flex;
    align-items: center;
  }
  
  .header2-nav-item{
      margin-right: 20px; ;
  }
  
  .menu-icon{
      margin-right: 20px;
  }
  
  .header2-right{
      display: flex;
      align-items: center;
  }
  
  .search-bar {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      width: 400px;
      height: 28px;
    }
    
  .search-input {
    flex: 1;
    border: none;
    border-bottom: 1px solid #4B565E99;
    outline: none;
    font-size: 14px;
    color: #444d56;
    background: none;
    width: 100%;
  }
    
  .search-input::placeholder {
      color: rgba(75, 86, 94, 0.6);
    }
    
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 24px;
  }
    
  .location {
    display: flex;
    align-items: center;
    }
    
  .location-icon {
    margin-right: 4px;
    }
    
  .location-text {
    font-size: 14px;
    color: white;
  }