.mat-dialog-title{
    font-size: 14px;
    font-weight: 400;
}

.deleteUserDialog{
    padding: 15px;
}

.mat-dialog-actions{
    display: flex;
    justify-content: center;
}

.mat-dialog-actions button{
    margin: 15px;
}