<div class="user-form">
    <h1 class="title">Редактировать пользователя</h1>

<form class="user-form-cards" 
    [formGroup] = 'form'
    (ngSubmit)="submitForm()">


    <div class="form-input">
     <mat-form-field>
        <mat-label>Имя пользователя</mat-label>
            <input formControlName="name" matInput type="text">
            <mat-error></mat-error>
     </mat-form-field>
     <mat-form-field>
        <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="text">
            <mat-error></mat-error>
     </mat-form-field> 
     <mat-form-field>
        <mat-label>Website</mat-label>
            <input formControlName="website" matInput type="text">
            <mat-error></mat-error>
     </mat-form-field> 
     <div formGroupName="company">
        <mat-form-field>
            <mat-label>Назвние компании</mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error></mat-error>
         </mat-form-field>
     </div>

     <button matIconSuffix mat-raised-button 
     [disabled]="form.invalid" class="create-form-button"
     >Редактировать
        <mat-icon>edit</mat-icon>
    </button>  
    </div>      
</form>
</div>