.user-form{
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 35px;
}

.user-form-cards{
    display: flex;
    justify-content: center;
}

.create-form-button{
    width: 215px;
}

.form-input{
    width: 200px;

}
.title{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}